@import url("normalize.css");
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-B.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

footer {
  position: relative;
  width: 100%; }

p {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

.about {
  background: url("../img/about-bg.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-height: 650px; }
  .about__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .about__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Gagalin;
    font-size: 4.5rem;
    color: #2f3234;
    margin-top: 5rem; }
  .about__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 5.625rem;
    width: 100%; }

.text__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31%; }

.card__title {
  font-family: Lifehack;
  font-size: 1.5rem;
  color: #2f3234;
  text-align: center;
  margin-top: 2.1875rem; }

.card__info {
  text-align: center;
  margin-top: 1rem;
  font-family: "Ubuntu Light";
  color: #2f3234;
  font-size: 0.875rem;
  line-height: 1.5em; }

.main__page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  font-size: 0.8125rem;
  font-family: "Ubuntu Medium", sans-serif;
  font-weight: bold;
  min-height: 650px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__logo {
    display: inline-block;
    margin-top: 0.75rem;
    margin-right: auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.5625rem;
  margin-right: 0.9375rem; }
  .menu__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    height: 2.1875rem; }

.menu__item:not(:last-child):after {
  content: "\2022";
  position: relative;
  margin-left: 0.8125rem;
  margin-right: 0.8125rem;
  color: #fff;
  font-size: 0.8125rem; }

.item__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.order__link {
  display: inline-block;
  text-decoration: none;
  background-color: #e45028;
  border-radius: 0.3125rem;
  padding: 0.6875rem 0.9375rem;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: bold; }
  .order__link:hover {
    background-color: #c13c18;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.order__button {
  text-transform: uppercase; }

.middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 65%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .middle__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 855px; }
  .middle__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 25.9375rem;
    margin-top: 4.375rem;
    margin-left: 1.875rem; }

.burger__img {
  margin-left: 0.9375rem; }

.drops__img {
  position: absolute;
  top: 4.0625rem;
  left: -1.25rem; }

.text__title {
  font-family: Gagalin;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b; }

.text__row {
  color: #fff;
  font-family: Lifehack;
  font-size: 4.0625rem;
  margin-top: 1.25rem;
  font-weight: normal;
  line-height: 1em; }

.paginator {
  position: absolute;
  top: 4.6875rem;
  right: 3.125rem;
  position: fixed; }
  .paginator__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .paginator__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.4rem; }
  .paginator__link-active:after {
    content: '';
    position: absolute;
    top: 0.125rem;
    left: -0.3125rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent; }

.scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 8.75rem;
  margin-bottom: 2.5rem; }
  .scroll__link {
    display: inline-block; }

.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b, #eb8c38 48%, #f9b43b);
  background: -o-linear-gradient(top, #f9b43b, #eb8c38 48%, #f9b43b);
  background: linear-gradient(to bottom, #f9b43b, #eb8c38 48%, #f9b43b);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-height: 650px; }

.comments {
  background-color: #d5d5d5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 650px; }
  .comments__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
  .comments__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%; }
  .comments__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25%; }

.comments__item_1 {
  background: url("../img/photo-1.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_2 {
  background: url("../img/photo-2.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_3 {
  background: url("../img/photo-3.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_4 {
  background: url("../img/photo-4.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_5 {
  background: url("../img/photo-5.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_6 {
  background: url("../img/photo-6.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_7 {
  background: url("../img/photo-7.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item_8 {
  background: url("../img/photo-8.png") center center no-repeat;
  background-size: cover;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 1.875rem 3.125rem 1.25rem; }

.comments__item:hover {
  -webkit-box-shadow: 0 0 0 20.3125rem rgba(69, 69, 69, 0.7) inset;
  box-shadow: 0 0 0 20.3125rem rgba(69, 69, 69, 0.7) inset; }
  .comments__item:hover .overlay {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.overlay {
  opacity: 0;
  color: #fff;
  max-width: 82%; }
  .overlay__button {
    display: inline-block;
    background-color: #2f3234;
    border-radius: 0.3125rem; }
    .overlay__button:hover {
      background-color: #171819;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .overlay__title {
    text-transform: uppercase;
    font-family: Gagalin, sans-serif;
    font-size: 1vmax;
    font-weight: normal;
    margin-bottom: 30px; }
  .overlay__text {
    font-family: "Ubuntu Light", sans-serif;
    font-size: 1vmax;
    line-height: 1.5em;
    margin-bottom: 17px; }

.button__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu Medium", sans-serif;
  font-size: 1.1vmax;
  padding: 13px 16px; }

.order {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../img/order-bg.png") center center no-repeat;
  background-size: cover;
  min-height: 650px;
  font-family: "Ubuntu Light", sans-serif;
  font-size: 0.875rem;
  color: #fff; }

.order__title {
  display: block;
  font-family: Gagalin, sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  color: #f9b43b; }

.form {
  margin-top: 5.625rem; }

.form__elem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.order__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__col {
  width: 50%;
  margin-right: 1.25rem; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  .form__row-radio {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 1.25rem; }
  .form__row-buttons {
    margin-left: 1.25rem; }

.form__block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem; }

.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.radio__item {
  position: absolute;
  left: -9999999px; }

.radio__item-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .radio__item-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: red;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.form__radio > .radio__item:checked + .radio__item-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.form__radio-checkbox .radio__item-fake {
  border-radius: 0rem; }

.form__radio-checkbox .radio__item + .radio__item-fake:after {
  background: transparent; }

.form__radio-checkbox .radio__item:checked + .radio__item-fake:after {
  background: url("../img/check.png") no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.6875rem; }

.form__block-title {
  margin-left: 0.625rem;
  margin-bottom: 0.3125rem; }
  .form__block-title-radio {
    margin-bottom: 0; }

.form__block-input {
  border: 1px solid #d1cfcb;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%; }
  .form__block-input-textarea {
    height: 6.875rem;
    resize: none; }

.form__comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reset__button {
  margin-left: 1.25rem;
  font-family: "Ubuntu Light", sans-serif;
  font-size: 0.875rem;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none; }
  .reset__button:hover {
    text-decoration: underline; }

.team {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../img/team-bg.png") no-repeat;
  background-size: cover;
  min-height: 650px; }

.team__section {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 49%;
  background-color: rgba(57, 59, 60, 0.9);
  top: 0;
  right: 0;
  bottom: 0; }

.section__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem; }

.content__title {
  font-family: Gagalin, sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  color: #f9b43b;
  margin-top: 5.625rem;
  margin-bottom: 5.625rem; }

.accordeon__list {
  color: #fff; }

.accordeon__item {
  margin-bottom: 2.5rem; }

.item__title {
  position: relative;
  margin-bottom: 0.9375rem;
  font-family: Gagalin, sans-serif;
  font-size: 0.875rem;
  cursor: pointer; }
  .item__title:before {
    position: absolute;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f9b43b;
    top: 0.4375rem;
    left: -1.25rem; }

.item__title-active {
  color: #f9b43b; }
  .item__title-active:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.item__info {
  height: 0;
  overflow: hidden; }

.item__info-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.info__img {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 6.25rem;
  width: 6.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.info__section {
  margin-left: 1.25rem;
  max-width: 13.125rem; }

.info__occ {
  margin-bottom: 1.25rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 0.875rem; }

.info__text {
  font-family: "Ubuntu Light", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5em; }

.acco-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../img/menu-bg.png") no-repeat;
  background-size: cover;
  min-height: 650px; }

.menu__title {
  font-family: Gagalin, sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  color: #fff;
  margin-top: 7.1875rem;
  margin-left: 5.9375rem; }

.acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.acco__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.acco__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  white-space: nowrap;
  cursor: pointer; }
  .acco__item-text {
    width: 0;
    overflow: hidden; }
  .acco__item-title {
    font-family: Gagalin, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .acco__item-title__block {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.acco__item_meat {
  background: url("../img/meat-bg.png") center right no-repeat;
  background-size: cover; }

.acco__item_vegan {
  background: url("../img/vegan-bg.png") center right no-repeat;
  background-size: cover; }

.acco__item_diet {
  background: url("../img/diet-bg.png") center right no-repeat;
  background-size: cover; }

.location {
  background-color: #d5d5d5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  background: url("../img/location-bg.png") center center no-repeat;
  background-size: cover; }

.footer__container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/footer-bg.png") center center no-repeat;
  background-size: cover; }

.contacts {
  width: 50%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.address {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Ubuntu Light", sans-serif;
  margin-bottom: 0.625rem; }

.phone__pic {
  width: 0.75rem;
  height: 0.75rem;
  fill: #e45028;
  margin-right: 0.5rem; }

.phone__number {
  text-decoration: none;
  color: #e45028;
  font-size: 0.875rem;
  font-family: "Ubuntu Bold", sans-serif;
  font-weight: bold; }
  .phone__number:hover {
    text-decoration: underline; }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%; }

.socials__link {
  text-decoration: none; }

.socials__pic {
  width: 1.3125rem;
  height: 1.3125rem;
  fill: #5b5b5b;
  margin-right: 1.25rem; }
  .socials__pic-tw {
    margin-right: 0; }
  .socials__pic:hover {
    fill: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Ubuntu", "Ubuntu Medium", "Ubuntu Light", "Lifehack", "Gagalin", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

img {
  max-width: 100%;
  max-height: 100%;
  border: none; }

/*# sourceMappingURL=style.css.map */