.footer__container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.footer {
  width: 100%;
  display: flex;
  background: url('../img/footer-bg.png') center center no-repeat;
  background-size: cover;
}

.contacts {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.address {
  color: #fff;
  font-size: 14px;
  font-family: "Ubuntu Light", sans-serif;
  margin-bottom: 10px;
}

.phone__pic {
  width: 12px;
  height: 12px;
  fill: #e45028;
  margin-right: 8px;
}

.phone__number {
  text-decoration: none;
  color: #e45028;
  font-size: 14px;
  font-family: "Ubuntu Bold", sans-serif;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  width: 50%;
}

.socials__link {
  text-decoration: none;
}

.socials__pic {
  width: 21px;
  height: 21px;
  fill: #5b5b5b;
  margin-right: 20px;  

  &-tw {
    margin-right: 0;
  }

  &:hover {
    fill: #fff;
    transition: 0.5s;
  }
}
