.location {
  background-color: #d5d5d5;
  display: flex;  
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  background: url('../img/location-bg.png') center center no-repeat;
  background-size: cover;
}